.requirementArea {
  background: white;
  height: 100%;
  width: 100%;
}

.button {
  background: lightgrey;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 22px;
  left: 50%;
  margin-right: 20px;
  top: 280px;
  width: 80px;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background: darkblue;
  transform: scale(1.2);
}

.button[disabled] {
background: #eee;
color: #aaa;
cursor: not-allowed;
}
