.requirement-area {
  background: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  width: 100%;
}

.requirement-area-header {
  color: grey;
  font-size: 25px;
}

.requirement-area-text {
  color: black;
  font-size: 15px;
}

.requirement-area-input {
  font-size: 16px;
  height: 50px;
  left: 340px;
  margin: 8px;
  padding: 15px;
  top: 50px;
  width: 300px;
}

.trash-icon {
  align-self: center;
  background-repeat: no-repeat;
  background: url('../assets/garbage.png');
  height: 50px;
  width: 50px;
}
