.requirement-area {
  background: white;
  height: 100%;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
}

.requirement-area-header {
  color: grey;
  font-size: 25px;
}

.requirement-area-text {
  color: black;
  font-size: 15px;
}

.requirement-area-input {
  font-size: 16px;
  height: 50px;
  left: 340px;
  padding: 15px;
  top: 50px;
  width: 500px;
}

.button {
  background: lightgrey;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 18px;
  left: 50%;
  margin-right: 20px;
  top: 280px;
  width: 55px;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background: darkblue;
  transform: scale(1.1);
}

.button[disabled] {
background: #eee;
color: #aaa;
cursor: not-allowed;
}

.ready-button {
  background: orange;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 18px;
  left: 50%;
  margin-right: 20px;
  top: 280px;
  width: 55px;
}

.pass-button {
  background: green;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 18px;
  left: 50%;
  margin-right: 20px;
  top: 280px;
  width: 55px;
}

.fail-button {
  background: red;
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 18px;
  left: 50%;
  margin-right: 20px;
  top: 280px;
  width: 55px;
}
