.status-button {
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 2px 4px;
}

.status-buttons {
  display: flex;
  flex-direction: column;
}

.ready-button:active {
  background: orange;
}

.pass-button:active {
  background: green;
}

.fail-button:active {
  background: red;
}
