* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background: white;
}

header {
  align-items: center;
  background: indigo;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
}

.title {
  display: flex;
}

.requirementArea {
  background: white;
  height: 100%;
  width: 100%;
}
